.slider {
  -webkit-appearance: none;
  background-color: #F5F5F5;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 40px;
  height: 15px;
  border-radius: 10px;
  background: #787878;
/*   background: #B4B4B4; */
/*   background: #A4A4A4; */
  cursor: pointer;
}

.slider:hover::-webkit-slider-thumb{
/*   background: #787878; */
  opacity: 1;
}


.slider::-webkit-slider-runnable-track{
  -webkit-appearance: none;
  border-radius: 10px;
  border-width: 2px !important;
  border: solid;
/*   border-color: #B4B4B4; */
  border-color: #787878;
  opacity: 0.5;
  cursor: pointer;
}

.slider:hover::-webkit-slider-runnable-track{
/*     border-color: #787878; */
    opacity: 0.9;
}


